
.container {
  margin: auto;
  display: flex;
}

.main {
  padding: 30px;
  margin: 20px;
  width: 70vw;
  /* outline: auto 1px firebrick; */
}

.mainContainer {
  margin-left: auto;
  max-width: 1200px;
  
}


.aside {
  width: 30vw;
  height: calc(100vh - 30px);
  background: rgb(2,0,36); 
  background: linear-gradient(90deg, rgba(63, 61, 85, 0.5) 0%, rgba(171, 171, 224, 0.4) 35%), url('../../img/aside.jpg');
  background-size: cover;
  background-position: center;

  text-align: center;

  color: antiquewhite;
}

.title{
  font-size: 30px;
  letter-spacing: .12rem;
  margin-bottom: 40px;
}

.titleBold {
  font-weight: 700;
}

.caption {
  font-size: 18px;
  margin-bottom: 60px;
  padding: 6px;
}