
.container {
  width: 100vw;
  height: 100%;
  margin-bottom: 84px;
  padding-left: 20px;
  display: flex;
}

.main {
  padding: 30px;
  width: calc(70vw - 80px);
  /* outline: auto 1px firebrick; */
}

.mainContainer {
  margin-left: auto;
  max-width: 1200px;
  
}

.title{
  font-size: 30px;
  letter-spacing: .12rem;
  margin-bottom: 80px;
}

.titleBold {
  font-weight: 700;
}

.caption {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 60px;
  padding: 6px;
}

.link {
  font-weight: 500;
  padding: 6px 10px;
  border: 1px solid rgba(50, 50, 50, 0);
  border-radius: 20px;
  transition: border cubic-bezier(0, 0, 1, 1) 200ms;
}

.link:hover {
  border: 1px solid rgba(50, 50, 50, 1)
}

.aside {
  width: 30vw;
  height: 910px;
  background: rgb(2,0,36); 
  background: linear-gradient(90deg, rgba(63, 61, 85, 0.5) 0%, rgba(171, 171, 224, 0.4) 35%), url('../../img/aside.jpg');
  background-size: cover;
  background-position: center;

  color: rgba(250, 235, 215, 0.7);
}

.weather {
  height: auto;
  margin-top: 30vh
}


.day {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.temperature {
  text-align: center;
  font-size: 60px;
  padding: 10px;
}

.degree {
  vertical-align: top;
  font-size: 18px;
  font-weight: 100;
}

.cityName {
  padding: 10px;
  text-align: center;
  font-size: 24px;

  transform: translateX(-8px);
}