
.btn {
  display: flex;
  align-items: center;
  /* color: rgba(56, 56, 56, 0.6); */
  font-size: 18px;
  font-weight: 500;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid rgba(47, 47, 47, 0.1);
  background-color: white;
  transition: all 250ms linear;
}

.btn:hover {
  border: 1px solid rgb(26, 26, 26);
}

.icon {
  margin-left: 8px;
  font-size: 30px;
}

.container {
  display: flex;
  gap: 20px;
}